@model IEnumerable<Examen2_MVC.Models.unidaddemedida>

@{
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreunidaddemedida)
        </th>
        <th>
            Accion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreunidaddemedida)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Edit", new { @id=item.idunidaddemedida },new AjaxOptions {
                        HttpMethod="GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenido_modal",
                        OnSuccess = "abrirModal('#modal_editar_medida')",
                    })|
                @Ajax.ActionLink("Eliminar", "Delete",new {@id=item.idunidaddemedida }, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "contenido_modal",
               OnSuccess = "abrirModal('#modal_eliminar_medida')",


           })
            </td>
        </tr>
    }

</table>
