@model IEnumerable<Examen2_MVC.Models.marca>

@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <h4>Marca</h4>
            </div>
            <div class="box-body">
                @Ajax.ActionLink("Crear Marca", "Create", new AjaxOptions {
                HttpMethod="GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "contenido_modal",
                OnSuccess = "abrirModal('#modal_crear_marca')",
                })
                <div id="listar_marca">
                    @{Html.RenderPartial("List", Model);}
                </div>
            </div>

        </div>
    </div>
</div>
<div id="contenido_modal"></div>

