@model IEnumerable<Examen2_MVC.Models.marca>

@{
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombremarca)
        </th>
        <th>
            Accion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombremarca)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Edit", new { @id=item.idmarca },new AjaxOptions {
                          HttpMethod="GET",
                          InsertionMode = InsertionMode.Replace,
                          UpdateTargetId = "contenido_modal",
                          OnSuccess = "abrirModal('#modal_editar_marca')",
                      })|
                @Ajax.ActionLink("Eliminar", "Delete",new {@id=item.idmarca }, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "contenido_modal",
               OnSuccess = "abrirModal('#modal_eliminar_marca')",


           })
            </td>
        </tr>
    }

</table>
